:root {
    --black: #303031;
    --gray: #66645E;
    --green: #71A894;
    --light-gold: #F3F0EA;
    --white: #FFFFFF;
    --yellow: #F5C64F;

    --background: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
}

header img {
    width: 17.5rem;
    padding-left: 2.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header li {
    font-weight: medium;
    display: inline;
    margin-right: 1.5rem;
}

header li:last-child a {
    font-weight: bold;
    color: var(--green);

    opacity: .8;
}

header li:last-child a:hover {
    opacity: 1;
}

header a {
    color: var(--black);

    font-family: 'Robot', sans-serif;
    font-size: 1.25rem;
    opacity: .7;

    transition: opacity .2s;

}

header a:hover {
    opacity: 1;
}

/* Home */
#home {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3.69rem;
}

#home img {
    /*width: 70.5rem; */
    max-width: 65vw;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    height: auto;
}

.details {
    margin-top: -7rem;
    padding-left: 2.5rem;
    margin-right: -1rem;
}

.details h1 {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 60px;
    color: var(--black);

    margin-bottom: 24px;
}

.details p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.28vw;
    color: var(--gray);

    margin-bottom: 3rem;
}

.details a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.3vw;
    color: var(--white);

    background: var(--green);
    border-radius: 8px;
    padding: 20px;

    transition: filter .2s;
}

.details a:hover {
    filter: brightness(.9);
}

/* Open Enterprise */

#openEnterprise {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10rem;
}
#openEnterprise h1 {
    font-size: 4vw;
    font-family: 'DM Serif Display', sans-serif;
    color: var(--black);
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    line-height: 26px;
    color: var(--black);
    text-align: center;
    margin-top: 24px;


}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    align-items: center;
    padding: 2.5rem;
    margin-bottom: 8rem;
}

.card {
    height: 340px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 2rem;
}

.card h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2vw;

    margin-bottom: 16px;
}

.card p {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 1.6vw;

}

.card img {
    max-width: 88px;
    width: 100%;
    height: auto;

    margin-bottom: 24px;
}

/* Features */

#features {
    padding: 2.5rem;
}

.category {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10rem;
}

.description img {
    margin-bottom: 1.5rem;
    width: 6.8vw;
    height: auto;
}

.description h2 {
    font-family: 'DM Serif Display', sans-serif;
    font-weight: bold;
    font-size: 4vw;
    line-height: 64px;
}

.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 26px;
}

.members {
    background: var(--white);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--black);
    border-width: 4px;

    padding: 2.5rem;

    margin-top: -2rem;
}

.members h3 {
    padding-top: -.5rem;
    
    font-weight: bold;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2.7vw;
}

.infos {
    display: inline;

    margin-top: 2.5rem;
    margin-left: 1rem;
}

.infos h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    color: var(--black);

    padding-right: 10.1rem;
}

.infos p {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    color: var(--gray);
}

.member {
    display: flex;
}

.member img {
    margin-top: 2.2rem;

    max-width: 6.1vw;
    max-height: 6.1vw;

    width: 100%;
    height: auto;
}

.profileCard {
    background: var(--white);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--black);
    border-width: 4px;

    padding: 2.5rem;
}


.profile {
    display: flex;
}

.profile img {
    max-width: 4.3vw;
    max-height: 4.3vw;
}

.profileInfos {
    display: inline;

    margin-left: 1rem;
}

.profileInfos h3 {
    font-family: 'Roboto Mono', sans-serif;
    
    margin-bottom: .5rem;

    font-size: 2vw;
    font-weight: bold;
    color: var(--black);
}

.profileInfos p {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    font-size: 1.3vw;
    color: var(--gray);

}

.profileText {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3vw;
    color: var(--black);

    margin-top: 1.5rem;
}

.techInfos {
    display: flex;

    margin-top: 1.5rem;
}

.techInfo:last-child {
    margin-left: 4.6rem;
}

.techInfo h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    color: var(--gray);
}

.techInfo p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    color: var(--black);

    margin-top: .75rem;
}

.profileCard button {
    border-radius: 16px;
    background: var(--black);
    color: var(--white);

    font-family: 'Roboto Mono', sans-serif;
    font-size: 2vw;
    font-weight: 500;

    margin-top: 2rem;
    padding: 1vw 11vw;

    border: none;

    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.usersDesription {
    margin-left: 11.12rem;
}

.usersDesription img {
    width: 6.7vw;
    height: auto;
}

.usersDesription h2 {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 4rem;
    color: var(--black);

    margin-top: 1.5rem;
}

.usersDesription p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.6rem;

    margin-top: 1.5rem;
}

.feedbackDescription {
    margin-top: 5.1rem;
}

.feedbackDescription img {
    width: 6.8vw;
    height: auto;
}

.feedbackDescription h2 {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 4rem;
    color: var(--black);

    margin-top: 1.5rem;
}

.feedbackDescription p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--black);

    margin-top: 1.5rem;
}

.commentCardTitle {
    display: flex;
    justify-content: space-between;
}

.commentCardTitle h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: .9vw;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 1rem;
}

.commentCard h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.8vw;
    font-weight: 400;
    color: var(--white);
    background: var(--green);
    padding: .25rem .5rem;

    margin-left: .3rem;
}

.commentCard p {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: .8vw;
    color: var(--black);
}

.commentCard {
    background: var(--white);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--black);
    border-width: 4px;

    box-shadow: 0 8px 0 -2px var(--green);

    padding: 1.5rem;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-bottom: 1.5rem;
}

.rateCard {
    display: inline-block;

    background: var(--light-gold);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--black);
    border-width: 4px;

    padding: 32px 40px;
}

.memberRate {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.memberRate:last-child {
    margin-bottom: 0;
}

.rate {
    display: flex;
}

.profileRate {
    display: flex;
}

.rateCard h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    color: var(--black);
}

.memberRate h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    font-size: 1.6vw;
    color: var(--black);

    margin-left: 1rem;
    margin-right: 3.75rem;
}

.memberRate p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
    color: var(--black);

    margin-left: .5rem;
}

.memberRate img {
    max-width: 3.4vw;
    max-height: 3.4vw;

    width: 100%;
    height: auto;
}

.rateCards {
    display: flex;
}

.profileRateCard {
    display: inline-block;

    background: var(--white);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--green);
    border-width: 4px;

    margin-left: 0.75rem;

    margin-top: 1.5rem;
    margin-bottom: -1.5rem;

    padding: 1.5rem;
}

.profileRateDetails {
    text-align: center;
}

.profileRateDetails h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
    color: var(--black);

    margin-top: 1rem;
}

.profileRateDetails h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    color: var(--gray);

    margin-top: .25rem;
}

.profileRateDetails img {
    max-width: 6.1vw;
    max-height: 6.1vw;

    width: 100%;
    height: auto;
}

.profileRateTechDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
}

.profileRateTechDetails p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    color: var(--black);
}

.profileRate p {
    font-size: 1.7vw;
    font-weight: 500;

    margin-left: .5rem;
}

.profileRateCard button {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    color: var(--white);

    border-radius: 1rem;
    border: none;

    margin-top: 1rem;
    padding: .75rem 2.5rem;

    background: var(--black);

    cursor: pointer;
}

/* Contribute */

.titleContribute h1 {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    color: var(--black);

    margin-bottom: 1.5rem;
    text-align: center;
}

.titleContribute p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--black);

    margin-bottom: .5rem;
    text-align: center;
}

.cardsContribute {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2.5rem;
}

.cardContribute {
    display: inline-block;

    border-radius: 16px;
    background: var(--white);

    padding: 1.5rem;
}

.cardContribute h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--black);

    margin-bottom: 1rem;
}

.cardContribute p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    color: var(--black);

    margin-bottom: 1.5rem;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardFooter h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    color: var(--white);
    background: var(--green);

    border-radius: 40px;
    padding: .25rem .5rem;
}

.cardFooter p {
    font-weight: 600;
}